@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .rotate-y-180 {
    transform: rotateY(180deg);
  }
}

@keyframes flip {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(0deg);
  }
}

.card-flip {
  animation: flip 0.6s ease-out;
}